<%- include('layouts/head.ejs')%>

<body>

    <%- include('layouts/navigation.ejs') %>
    <!-- Page Content -->
    <div class="container">

        <%- include('layouts/sidebar.ejs') %>
            <!-- /.col-lg-3 -->

            <%- include('layouts/carousel.ejs') %>
           
            <form action="/admin/add-product" method="POST" style="margin-bottom: 17rem;">
                <p>
                    <label>Title</label>
                    <input type="text" name="title" />
                </p>
                <p>
                    <label>Price</label>
                    <input type="number" name="price" />
                </p>
                <p>
                    <label>Description</label>
                    <textarea name="description"></textarea>
                </p>
                <button type="submit">Submit</button>
            </form>
                
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include('layouts/end.ejs') %>

